@tailwind base;
@tailwind components;

@tailwind utilities;



@layer components{

  .top-title{
    @apply text-3xl text-center mt-8 mb-8
  }
  .nav-link{
    @apply text-3xl text-center mt-8 mb-8
  }


}

.equalCellHeight{
  grid-auto-rows: 1fr;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.borderTest{
border-style: dashed;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}


